<div class="mt-4">
    <%= form_for ([@tour, @comment]) do |f| %>
        <%= f.label :comment, class:"form-label row-10" %><br>
        <%= f.text_area :content, class:"form-control row" %> <br>
        <%= f.hidden_field :user_id, values: current_user.id %>
        <%= f.submit "Add a comment", class: "btn btn-primary btn-large" %>
    <% end %>
</div>