<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
    <p class="error"><%= msg %></p>
  <% end %>
<% end %>

<h1>Update your profile!</h1><br>


<%= form_for @user do |f| %>
Name: <%= @user.name %><br>
Username: <%= @user.username %><br>

  <%= f.label :budget %>
  <%= f.number_field :budget %><br>

  <%= f.label :vacation_time %>
  <%= f.number_field :vacation_time %><br>

  <%= f.submit "Update User" %>
<% end %>

