<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
    <p class="error"><%= msg %></p>
  <% end %>
<% end %>

<h1>New User</h1>

<%= form_for @user do |f| %>
  <%= f.label :name %>: 
  <%= f.text_field :name %><br>

  <%= f.label :username %>: 
  <%= f.text_field :username %><br>

  <%= f.label :password  %>: 
  <%= f.text_field :password %><br>

  <%= f.label :budget %>: 
  <%= f.number_field :budget %><br>

  <%= f.label :vacation_time %>: 
  <%= f.number_field :vacation_time %><br>

  <%= f.submit "Create User" %>

<% end %>
