<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %>

Name: <%= @user.name %><br>
Username: <%= @user.username %><br>
Budget: <%= @user.budget %><br>
Vacation Days Remaining: <%= @user.vacation_time %><br>

<h1>Here are the trips you have been on so far! <h1/><p>
<ul><% @user.trips.each do |t| %>
    <li><%= link_to t.tour.title, tour_path(t.tour) %></li>
  <% end %> </ul></p>









<br><h2><%= @user.username %> has commented on the following tours: <br>
 
<ul><% @user.tours.each do |tour| %>
  <li><%= link_to tour.title, tour_path(tour) %></li>
<% end %></ul>

<br><%= link_to "Log Out", signout_path, method: "delete" %><br>
<%= link_to "See tours", tours_path %><br>  