<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %>

<h2><%= users_header(@user) %></h2>
Name:     <%= @user.name %><br>
Username: <%= @user.username %><br>
Budget:   $<%= @user.budget %><br>
Vacation Days Remaining: <%= @user.vacation_time %><br>
 
<h2>Here are the trips you have been on so far! </h2>
  <ul><% @user.trips.each do |t| %>
    <li><%= link_to t.tour.title, tour_path(t.tour) %></li>
  <% end %> </ul>
  
<h2><%= @user.username %> has commented on the following tours:</h2>
 
<ul><% @user.tours.each do |tour| %>
  <li><%= link_to tour.title, tour_path(tour) %></li>
<% end %></ul>

<br><%= link_to 'Update your profile', edit_user_path(@user) %>
<br><%= link_to "See all tours", tours_path %>
<br><%= link_to "See all destinations", destinations_path %>
<br><%= link_to "Log Out", signout_path, method: "delete" %>
 