<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %>

<h1 class="text-center mt-4"><%= @user.username %>'s profile!</h1>

<div class="container">
  <% if logged_in? && @user == current_user %>
    <h5 class="card-header">Name: <%= @user.name  %></h5>
    <h5 class="card-title">Username: <%= @user.username %></h5>
    <h5 class="card-title">Budget: <%= @user.budget %></h5>
    <h5 class="card-title">PTO Days: <%= @user.vacation_time %></h5>
      <div class="text-center mt-4">
        <%= link_to "Edit Your Profile", edit_user_path(@user), class: "btn btn-outline-info" %>
      </div>
  <% end %>
</div>
<hr class="my-4">

<% if @user.trips.any?  %>
<div class= "container p-2"> <h2>Here are the trips you have been on so far! </h2>
  <% @user.trips.each do |trip| %>
  <div class="row">
    <div class='col-2 mt-6' > 
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header">
          <%= link_to trip.tour.title, tour_path(trip.tour) %>
        </div>
        <% end %>
      </div>
    </div>
    <% else %>
  </div>
</div>
<% end %>

<% if @user.comments.any?  %>
<div class= "container p-2"> <h2><%= @user.username %> has commented on the following tours:</h2>
  <% @user.tours.each do |comment| %>
  <div class="row">
    <div class='col-2 mt-6' > 
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header">
        <%= link_to comment.title, tour_path(comment) %>
        </div>
        <% end %>
      </div>
    </div>
    <% else %>
  </div>
  <% end %>
</div>