<% if @tour.errors.any? %>
    <% @tour.errors.full_messages.each do |msg| %>
        <p class="error"><%= msg %></p>
    <% end %>
<% end %>

<div class='container'>
<%= form_with(model: @tour, local: true) do |f| %>

    <div class="form-group row">
        <%= f.label :title, class:"col-2 col-form-label" %>
        <div class='col-10'>        
            <%= f.text_field :title, class: "form-control" %>
        </div>
    </div>
    
    <div class="form-group row">
        <%= f.label :description, class:"col-2 col-form-label" %>
        <div class='col-10'>        
            <%= f.text_field :description, class: "form-control" %>
        </div>
    </div> 

    <div class="form-group row">
        <%= f.label :duration, class:"col-2 col-form-label" %>
        <div class='col-10'>
            <%= f.number_field :duration, class: "form-control" %>
        </div>
    </div>

    <div class="form-group row">
        <div class="input-group mb-3">
            <div class="input-group-prepend col-2">
                <span class="input-group-text col-form-label">Price: $</span>
            </div>
        <%= f.number_field :price, class: "form-control" %>
        <div class="input-group-append">
            <span class="input-group-text">.00</span>
        </div>
    </div>

    <%= f.hidden_field :user_id, values: current_user.id %>

    <div class="form-group row">
        <%= f.submit class:'btn btn-outline-light btn-lg' %>
    </div>
    <% end %>
</div>












