<%= form_for(@tour) do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>

    <div class="field">
    <%= f.label :destination_id, 'Tour Destination:' %><br>
    <%= f.collection_radio_buttons :destination_id, @destinations || [], :id, :city %>
    </div>

    <%= f.label 'Price:' %><br>
    <%= f.number_field :price%><br>

    <%= f.label 'Duration:' %><br>
    <%= f.number_field :duration %><br>

    <%= f.label 'Tour Description:' %><br>
    <%= f.text_area :description %><br>

    <%= f.submit %> 
<% end %>