<h1>VIP Tours available for <h1/><p>
<ul><% @tours.vip.each do |t| %>
    <li><%= link_to t.title, tour_path(t) %></li>
  <% end %> </ul></p>
<br>
<h1>Tours available for: <h1/><p>
<ul><% @tours.each do |t| %>
    <li><%= link_to t.title, tour_path(t) %></li>
  <% end %> </ul></p>
<br>
  <%= link_to 'New', new_tour_path %><br>
  <br><%= link_to "See all destinations", destinations_path %><br>  
  <br><%= link_to "Log Out", signout_path, method: "delete" %><br>