<%= form_tag tours_path do %>
  
    Tour Title: <br> <%= text_field_tag :'tour[title]', @tour.title %><br>

    Destination: <br> <%= text_field_tag :'tour[destination]', @tour.destination %><br>

    <label>Price:</label><br>
    <%= number_field_tag :'tour[price]', nil, min: 1, @tour.price %><br>

    <label>Duration:</label><br>
    <%= number_field_tag :'tour[duration]', nil, in: 1...13, @tour.duration %><br>

    <label>Tour Description:</label><br>
    <%= text_area_tag :'tour[description]', @tour.description, @tour.description  %><br>

    <%= submit_tag "Submit Tour" %> 

<% end %>