
<h1>New Tour</h1>

<%= form_for(@tour) do |f| %>
  <div class="field">
    <%= f.label :title, 'Tour Title:' %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description, 'Tour Description:' %><br>
    <%= f.text_area :description %>
  </div>

  <%= f.text_field :destination_city, list: "destination_autocomplete" %>
  <datalist id="destination_autocomplete">
    <% Destination.all.each do |d| %>
      <option value="<%= d.city %>">
    <% end %>
  </datalist>


  
  <div class="field">
        <%= f.label :price, 'Tour Price:' %><br>
        <%= f.number_field :price %>
  </div>

    <div class="field">
    <%= f.label :title, 'Tour Duration:' %><br>
    <%= f.number_field :duration %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>