<%= form_tag tours_path do %>
    <label>Tour Title:</label><br>
    <%= text_field_tag :'tour[title]' %><br>


    <label>Tour Destination:</label><br>
    <%= text_field_tag :'tour[destination]' %><br>

    <label>Price:</label><br>
    <%= number_field_tag :'tour[price]', nil, min: 1%><br>

    <label>Duration:</label><br>
    <%= number_field_tag :'tour[duration]', nil, in: 1...13 %><br>

    <label>Tour Description:</label><br>
    <%= text_area_tag :'tour[description]' %><br>

    <%= submit_tag "Submit Tour" %> 

<% end %>