<h1><%= @tour.title %></h1><br>
<br>Destination: <%= @tour.destination %></h1><br>
<br>Price: <%= @tour.price %></h1><br>
<br>Duration: <%= @tour.duration %></h1><br>
<br>Description: <%= @tour.description %></h1><br>

