<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %><br>

<div class="container">
<h2 class="text-center mt-4 "><%= @tour.title %></h2>
  <div class="row justify-content-md-center">
    <div class='col-8 mt-4' > 
      <div class="card text-center shadow mb-4 bg-white rounded ">
        <div class="card-header"> 
          <%=@tour.destination.city %>
        </div>
        </div>
        <div class="card">
        <div class="card-text text-left mt-2 mb-4 p-4">
          <strong>Price: </strong>$<%= @tour.price %><br>
          <strong>Duration: </strong><%= @tour.duration %> day(s)<br>
          <strong>Description:</strong> <%= @tour.description %>
        </div>
        </div><br>
      <%= render 'trips/trip' %>
      <% if @tour && @tour.user_id == current_user.id %>
        <div ><%= link_to 'Edit', edit_tour_path(@tour), class: "btn btn-outline-warning btn-md mb-2" %><br>
        <%= form_tag tour_path(@tour.id), method: "delete" do %>
        <%= submit_tag "Delete #{@tour.title}", class: "btn btn-danger btn-small" %><br>
      <% end %>
      <br>
        <% else %> 
        </div>
      <% end %>
      </div>
      <%= render 'comments/comment' %><br>
      <%= render 'comments/form' %><br>
    </div>
  </div>
</div>
