<h1>Tour: <%= @tour.title %></h1><br>
<br>Destination: <%= @tour.destination %></h1><br>
<br>Price: <%= @tour.price %></h1><br>
<br>Duration: <%= @tour.duration %></h1><br>
<br>Description: <%= @tour.description %></h1><br>
<br>
<h2><%= @tour.title %></h2>
<%= @tour.description %>
<%= form_tag tour_path(@tour.id), method: "delete" do %>
  <%= submit_tag "Delete #{@tour.title}" %>
<% end %>

