<h2 class="text-center mt-4"><%= @destination.city %></h2>


<h3 class="text-center mt-4"><%= pluralize(@destination.tours.count, 'Tour') %></h3>
<ul>

<div class="container">
    <% @destination.tours.each do |tour| %>
    <div class="row justify-content-md-center">
    <div class='col-6 mt-4' > 
        <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-body">
                <h5 class="card-title"><%= link_to tour.title, tour_path(tour) %></h5>
                <p class="card-text"><%= truncate(tour.description, length: 100 ) %></p>
                <%= link_to "View", tour_path(tour), class: "btn btn-outline-success" %>
                <% if logged_in? && current_user == tour.user %>
                <%= link_to "Edit", edit_tour_path(tour), class: "btn btn-outline-info" %>
                <%= link_to "Delete", tour_path(tour), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
                <% else %>
            </div>
            <% end %>
        </div>
    </div>
</div>
<% end %>
</div>
