<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<html>
    <head>
      <title>Local Scout</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="header">
    <div class="container-head">
      <div class="level-left">
        <div class="level-item">
          Local Scout
        </div>
      </div>
    </div>
  </header>

  <body class="body">
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>    
  </body>
  <footer class="footer">
    <div> 
      <br>Copyright © 2022 Local Scout. All rights reserved.
    </div>
  </footer>
</html>
